{% load static %}
<!doctype html>
<html>
  <head>
    <title>Event Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <!-- Navbar -->

    <nav class="bg-white shadow">
      <div
        class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center"
      >
        <h1 class="text-2xl font-bold text-indigo-600">Event Management</h1>

        <div class="space-x-6">
          <a
            href="{% url 'home' %}"
            class="text-gray-600 hover:text-indigo-600"
          >
            Home
          </a>

          <a
            href="{% url 'event_list' %}"
            class="text-gray-600 hover:text-indigo-600"
          >
            Events
          </a>

          <a
            href="{% url 'dashboard' %}"
            class="text-gray-600 hover:text-indigo-600"
          >
            Dashboard
          </a>
        </div>
      </div>
    </nav>

    <!-- Hero Section -->

    <section class="bg-indigo-600 text-white py-16">
      <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl font-bold mb-4">Discover Amazing Events</h2>

        <p class="text-lg opacity-90">
          Find and participate in exciting upcoming events.
        </p>
      </div>
    </section>

    <!-- Upcoming Events -->

    <section class="max-w-7xl mx-auto p-6">
      <!-- Search Bar -->
      <form method="GET" action="{% url 'event_list' %}" class="mb-6">
        <input
          type="text"
          name="q"
          placeholder="Search events by name or location..."
          class="border rounded-lg p-3 w-full md:w-1/2 shadow-sm"
        />
      </form>
      <h2 class="text-2xl font-bold mb-6">Upcoming Events</h2>

      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for event in upcoming_events %}

        <div class="bg-white rounded-xl shadow hover:shadow-lg transition">
          {% if event.image %}
          <img
            src="{{ event.image.url }}"
            class="w-full h-48 object-cover rounded-t-xl"
          />
          {% else %}
          <img
            src="{% static 'images/default_event.jpg' %}"
            class="w-full h-48 object-cover rounded-t-xl"
          />
          {% endif %}

          <div class="p-4">
            <h3 class="text-lg font-bold text-indigo-600">{{ event.name }}</h3>

            <p class="text-sm text-gray-600">
              {{ event.date }} at {{ event.time }}
            </p>

            <p class="text-sm text-gray-600"> {{ event.location }}</p>

            <p class="text-sm text-gray-600" >{{ event.category.name }}</p>

            <p class="text-sm text-gray-600 mb-3">
               {{ event.participant_set.count }} Participants
            </p>

            <a
              href="{% url 'event_detail' event.id %}"
              class="text-indigo-600 font-medium hover:underline"
            >
              View Details →
            </a>
          </div>
        </div>

        {% empty %}

        <p class="text-gray-500">No upcoming events available</p>

        {% endfor %}
      </div>
    </section>
  </body>
</html>
